<h1>Editing entry</h1>

<% form_for([@log, @entry]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', log_entry_path(@log, @entry) %> |
<%= link_to 'Back', log_entries_path(@log) %>