<h1>New entry</h1>

<% form_for([@log, @entry]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :log_id, :value => @log.id %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', log_entries_path %>