<p>
  <b>Name:</b>
  <%=h @log.name %>
</p>

<p>
  <b>User:</b>
  <%=h @log.user.login %>
</p>

<p>
	<b><%= link_to "Create new entry", new_entry_url %></b>
</p>

<ul>
	<% @log.entries.each do |entry| %>
		<li><%= entry.created_at %>: <%= entry.value %></li>
	<% end %>
</ul>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>