<p>
  <b>Name:</b>
  <%=h @log.name %>
</p>

<p>
  <b>User:</b>
  <%=h @log.user.login %>
</p>

<p>
	<%= link_to "Entries", log_entries_path(@log) %><br />
	<b><%= link_to "Create new entry", new_log_entry_path(@log) %></b>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>