<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Happy Monitor :D</title>
	</head>
	<body id="">
		<% flash.each do |flash| %>
			<div>
				<%= debug flash %>
			</div>
		<% end %>
		<ul>
			<li><%= link_to "Home", root_url %></li>
			<% if @user = current_user %>
				<li>Welcome, <%= link_to "#{@user.login}", account_url %>!
				<%= link_to 'Log out', logout_url%></li>
			<% else %>
				<li><%= link_to "Log in", login_url %></li>
				<li><%= link_to "Register", register_url %></li>
			<% end %>	
		</ul>
		<%= yield %>
	</body>
</html>